<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>District:</strong>
    <%= profile.district %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

</div>
